<section *ngIf="layoutConfiguration$ | async as layoutConfiguration">
  <div class="background"
       [style.background-image]="'url(assets/img/'+layoutConfiguration.backgroundImage+ ')'">
  </div>
  <article>
    <div class="p-5 d-flex flex-column align-items-center align-items-lg-baseline">
      <div class="py-4">
        <h1><span>{{layoutConfiguration.title}}</span></h1>
      </div>
      <ng-container *ngTemplateOutlet="layoutConfiguration.subtitle"></ng-container>
      <ng-container *ngTemplateOutlet="layoutConfiguration.body"></ng-container>

      <webster-calendly [inline]="true" calendlyUrl="joelchrabie/entretien-meet" class="mt-4"></webster-calendly>
    </div>
  </article>
</section>
