
<h2><span class="text-stroke">Q</span>ui suis-je?</h2>
<article>
  <div class="m-3">
    <p class="text-justify">
      Je voulais commencer ma présentation par <q>je veux être la Pierre Angular de votre projet</q>> malheureusement je ne
      m'appelle pas Pierre 😂.
    </p>
    <p>
      Je suis Joël, j'ai 32 ans et toutes mes dents (mais plus de cheveux 😱).
      Franco-Libanais, fan du Japon et de musiques Jamaïcaines (d'où ma quadruple personnalité 🙃).
      Freelance Angular sur la région Nantaise, et en plus de ça, tu l'auras remarqué j'ai un humour fracassant 👊.
    </p>
    <p>
      Passionné par le front du front (#integration) et d'#accessibilité.
    </p>
    <p>
      J'aime partager mes connaissances et apprendre des autres !
    </p>
    <p>
      <q>Seul on va vite, ensemble on va plus loin</q>
    </p>
  </div>
  <img src="assets/avatar.jpg" alt="Joël CHRABIE" class="m-3 rounded-huge w-40 justify-self-center">
</article>
<div class="d-flex justify-content-center mb-5">
  <webster-calendly
    [inline]="true"
    calendlyUrl="websterdev/entretien-meet"
    class="mt-4"></webster-calendly>
</div>
