<mat-card *ngIf="card">
  <img mat-card-image appLazyLoad [src]="card.imagePath" [alt]="card.imageAlt" />
  <mat-card-header *ngIf="card.type; else rawHeader">
    <mat-card-title>{{ card.type + '.title' | translate }}</mat-card-title>
    <mat-card-subtitle>{{ card.type + '.subtitle' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <ng-template #rawHeader>
    <mat-card-header>
      <mat-card-title>{{ card.title }}</mat-card-title>
      <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
    </mat-card-header>
  </ng-template>
  <button
    mat-fab
    color="primary"
    class="card-button"
    [ngClass]="{ 'no-content': !card.content && !card.type }"
    *ngIf="card.iconLink; else noLink"
    routerLink="/blog"
    [queryParams]="{ frag: card.iconLink }"
  >
    <mat-icon *ngIf="card.customIcon; else materialIcon" [svgIcon]="card.icon"></mat-icon>
    <ng-template #materialIcon>
      <mat-icon>{{ card.icon }}</mat-icon>
    </ng-template>
  </button>
  <ng-template #noLink>
    <button mat-fab color="primary" class="card-button" [ngClass]="{ 'no-content': !card.content && !card.type }">
      <mat-icon *ngIf="card.customIcon; else materialIcon" [svgIcon]="card.icon"></mat-icon>
      <ng-template #materialIcon>
        <mat-icon>{{ card.icon }}</mat-icon>
      </ng-template>
    </button></ng-template
  >
  <mat-card-content *ngIf="card.type; else rawContent">
    <app-card-content [cardContent]="card.type + '.content' | translate"></app-card-content>
  </mat-card-content>
  <ng-template #rawContent>
    <mat-card-content *ngIf="card.content || isList">
      <app-card-content [cardContent]="card.content" [isList]="isList"></app-card-content>
    </mat-card-content>
  </ng-template>
  <mat-card-actions *ngIf="card.showMore">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/blog/' + card.template]"
      (click)="onShowMore(card.type, card.title)"
    >
      {{ 'showMore' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
