@use 'libs/ui/src/partials/utils/breakpoint';

.blog-container {
  display: flex;
  padding: 0;
  margin-bottom: 4rem;

  @include breakpoint.breakpoint(lg) {
    padding: 20px 40px;
  }

  .author {
    display: none;

    @include breakpoint.breakpoint(lg) {
      flex: 1 1 20%;
      display: block;
    }

    mat-card {
      position: sticky;
      top: 120px;
      background-color: #201f47;

      .mat-card-header {
        flex-direction: column;

        .header-image {
          margin: -55px auto 0;
          height: 80px;
          background-image: url(/assets/avatar.jpg);
          background-size: cover;
          width: 80px;
        }

        .mat-card-header-text {
          text-align: center;
          margin-top: 20px;
        }
      }

      mat-card-actions {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }

  app-article-content {
    flex: 1 1 100%;
    width: 100%;
    padding: 0;

    @include breakpoint.breakpoint(lg) {
      flex: 1 1 50%;
      width: 50%;
      padding: 0 40px;
    }
  }

  .otherPosts {
    display: none;
    max-width: 300px;

    @include breakpoint.breakpoint(lg) {
      flex: 1 1 30%;
      width: 30%;
      display: block;
    }

    mat-card {
      height: calc(100vh - 400px);
      position: sticky;
      top: 80px;
      background-color: #201f47;
    }

    ul {
      width: auto;

      li {
        list-style: none;

        &::before {
          content: '▸';
          color: var(--primary);
          display: inline-block;
          width: 1.5em;
          font-size: 1.5em;
          margin-left: -1em;
        }

        a {
          text-decoration: none;
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  .back-to-top {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    &#mobile-back-to-top {
      position: fixed;
      display: block;
      left: auto;
      right: 20px;
      transform: translate(0, 0);
      bottom: 75px;

      @include breakpoint.breakpoint(lg) {
        display: none;
      }
    }
  }
}
