@use 'styles/text';
@use 'libs/ui/src/design-system';
@use 'libs/ui/src/partials/utils/breakpoint';

.active {
  font-weight: 700 !important;
}

body {
  @include design-system.theme(
    $primary: #4a8c72,
    $accent: #D6B056,
    $warning: #ebc86e,
    $base-color: #fff,
    $transparent-amount: 0.5,
    $is-dark-mode: false
  );
  height: 100vh;
  width: 100vw;
}
