<div class="content bkg">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br>
  <h2>
    {{ article.title }} <small>{{ article.dates }}</small>
  </h2>
  <div class="project" *ngFor="let project of article.projects" [id]="project.id">
    <h3>
      {{ project.title }} <span *ngIf="project.date"> - {{ project.date }}</span>
    </h3>
    <p [innerHTML]="project.content"></p>
    <mat-chip-list *ngIf="project.skills" class="mt-3.">
      <mat-chip *ngFor="let skill of project.skills" [selected]="false" [title]="skill">
        {{ skill }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <ngx-extended-pdf-viewer
    *ngIf="article.pdf"
    [src]="'assets/pdf/' + article.pdf"
    [height]="'400px'"
    [showToolbar]="false"
    [useBrowserLocale]="true"
    [textLayer]="false"
    [showHandToolButton]="false"
    [showPresentationModeButton]="false"
    [zoom]="'page-fit'"
  ></ngx-extended-pdf-viewer>
</div>
