<div class="p-6 wave-light">
  <h2>Contact</h2>
  <div class="row contact-message gap-row-4 my-5">
    <div class="contact-address col-lg-3 col-12">
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">location_pin</mat-icon>
        <div>
          <h3>
            Adresse
          </h3>
          <address>2 Rue du Berry</address>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">phone</mat-icon>
        <div>
          <h3>
            Téléphone
          </h3>
          <p><a href="tel:+33688740093" class="tel">(+33) 6 88 74 00 93</a></p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">mail</mat-icon>
        <div>
          <h3>
            E-mail
          </h3>
          <p><a href="mailto:hello@webster.com">hello@webster.com</a></p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">access_time</mat-icon>
        <div>
          <h3>
            Horaires
          </h3>
          <p class="ouverture">Lundi - Vendredi</p>
          <p> 09H00 - 18H00</p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">qr_code</mat-icon>
        <div>
          <h3>
            <abbr
              title="Système d'Identification du Répertoire des ENtreprises">S.I.R.E.N</abbr>
          </h3>
          <p>522 491 000</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.441472181103!2d-1.7745253841823512!3d47.481312504617264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f63b1103f168d%3A0x757ca3d9e39fcf3!2s2%20Rue%20du%20Berry%2C%2044130%20Blain!5e0!3m2!1sfr!2sfr!4v1640034798974!5m2!1sfr!2sfr"
        width="100%" height="450" style="border:0;" title="Map" name="Map" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-lg-5 col-12">
      <form id="idFormContact" action="email_process.php" class="contact-form">
        <fieldset>
          <div class="col-lg-12 msgFormContact noPM"></div>
          <div class="blocFormContact">
            <div class="col-lg-12 noPM">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" name="nom" class="form-control" placeholder="Nom / Prénom" autocomplete="off">
                <span class="input-group-addon">*</span>
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
                <input type="text" name="email" class="form-control" placeholder="E-mail" autocomplete="off">
                <span class="input-group-addon">*</span>
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text" name="tel" class="form-control" placeholder="Téléphone" autocomplete="off">
              </div>
              <div class="form-group input-group">
                  <textarea class="form-control" cols="30" rows="10" name="message"
                            placeholder="Merci de détailler le plus possible votre besoin afin de faciliter nos futurs échanges."></textarea>
                <span class="input-group-addon">*</span>
              </div>
              <div class="i-checks">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 noPM">
                  <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox"
                                                                                         id="idChkRGPD_Contact"
                                                                                         name="chkRGPD_Contact"
                                                                                         value="1"
                                                                                         style="position: absolute; opacity: 0;">
                    <ins class="iCheck-helper"
                         style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                  </div>
                  <i></i>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 noPM">
                  <label for="idChkRGPD_Contact">En soumettant ce formulaire, j'accepte que les informations saisies
                    soient exploitées dans le cadre de la demande de contact et de la relation commerciale qui peut en
                    découler.</label>
                </div>
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="text" name="captchaC" class="form-control" placeholder="5 + 4 = ?" autocomplete="off">
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 blocBtnContact noPM">
              <hr>
              <button type="submit" mat-flat-button color="primary">Envoyer <span class="sr-only">les données du formulaire</span>
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<section class="p-5 bkg-light wave-dark">
  <webster-tarif></webster-tarif>
</section>
