<div class="p-5 py-6 wave-light">
  <h2><span class="text-stroke">C</span>ontact</h2>
  <div class="d-flex flex-column flex-md-row gap-4 my-5">
    <div class="w-md-25 w-100 px-3">
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">location_pin</mat-icon>
        <div>
          <h3>
            Adresse
          </h3>
          <address>2 Rue du Berry</address>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">phone</mat-icon>
        <div>
          <h3>
            Téléphone
          </h3>
          <p><a href="tel:+33688740093" class="tel">(+33) 6 88 74 00 93</a></p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">mail</mat-icon>
        <div>
          <h3>
            E-mail
          </h3>
          <p><a href="mailto:hello@webster.com">hello@webster.com</a></p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">access_time</mat-icon>
        <div>
          <h3>
            Horaires
          </h3>
          <p class="ouverture">Lundi - Vendredi</p>
          <p> 09H00 - 18H00</p>
        </div>
      </div>
      <hr>
      <div class="d-flex gap-3 align-items-center">
        <mat-icon class="text-primary">qr_code</mat-icon>
        <div>
          <h3>
            <abbr
              title="Système d'Identification du Répertoire des ENtreprises">S.I.R.E.N</abbr>
          </h3>
          <p>522 491 000</p>
        </div>
      </div>
    </div>
    <div class="w-md-75 w-100 pl-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.441472181103!2d-1.7745253841823512!3d47.481312504617264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f63b1103f168d%3A0x757ca3d9e39fcf3!2s2%20Rue%20du%20Berry%2C%2044130%20Blain!5e0!3m2!1sfr!2sfr!4v1640034798974!5m2!1sfr!2sfr"
        width="100%" height="100%" style="border:0; min-height: 40vh;" title="Map" name="Map" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

<section class="p-6 bkg-light wave-dark">
  <webster-tarif></webster-tarif>
</section>
