@use 'libs/ui/src/partials/utils/input';

:host {
  p, a, address {
    line-height: 1.5;
    margin-bottom: .5rem;
  }

  a {
    text-decoration: underline;
    color: var(--text);

    &:hover {
      font-weight: 500;
    }
  }

  @include input.input-component($background-color: transparent);

  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: var(--background-light);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input-group-addon:last-child {
    border-radius: 0;
    border: 1px solid #eee;
  }

  .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
