@use 'libs/ui/src/partials/utils/breakpoint';

.container {
    justify-content: space-around;
    padding: 0;

    app-experience, app-searchbar {
        flex: 0 0 100%;

        @include breakpoint.breakpoint(md) {
            flex: 0 0 80%;
        }
    }

    mat-accordion {
        width: 100%;

        @include breakpoint.breakpoint(md) {
            width: 80%;
            margin-bottom: 20px;
        }
    }
}
