<mat-list>
  <a mat-list-item [routerLink]="['/']" (click)="linkClick('header')">
    <img appLazyLoad src="assets/white.png" alt="Accueil" width="100%" />
  </a>
</mat-list>
<mat-nav-list>
  <ng-container *ngFor="let link of linkList">
    <a
      mat-list-item
      [routerLink]="link.url"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: link.type !== 'Blog' }"
      role="button"
      (click)="linkClick(link.url)"
    >
      {{ link.type | translate }}
      <mat-divider></mat-divider>
    </a>
  </ng-container>
</mat-nav-list>
