<mat-toolbar color="primary">
  <div id="menu" class="d-block d-md-none">
    <button mat-icon-button (click)="sidenavService.toggle()" matTooltip="Menu" matTooltipPosition="below">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <h1 class="ml-4">
    <img src="assets/webster.png" alt="Logo Webster">
    <span class="sr-only">Webster</span>
  </h1>
  <div class="d-md-flex d-none w-60 justify-content-around">
    <a
      *ngFor="let link of linkList"
      [routerLink]="link.url"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: link.type !== 'Blog' }"
      class="text-white d-flex align-items-center"
    >
      {{ link.type | translate }}
    </a>
  </div>
  <div class="social d-flex gap-3">
    <a href="https://www.linkedin.com/in/joel-chrabie/"
       class="text-white d-flex align-items-center" target="_blank">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a href="https://www.malt.fr/profile/joelchrabie"
       class="text-white d-flex align-items-center" target="_blank">
      <mat-icon svgIcon="malte"></mat-icon>
    </a>
  </div>
</mat-toolbar>
