@use 'libs/ui/src/partials/utils/breakpoint';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-weight: 400;
  font-size: 16px;
  background-color: #201f47 !important;
  justify-content: space-between;

  .active-link {
    color: var(--primary-light50-color)!important;
    font-weight: 700;
  }

  #menu {
    display: flex;
    align-items: center;

    button {
      background-color: var(--primary);
    }

    span {
      margin-left: 20px;
      display: none;

      @include breakpoint.breakpoint(md) {
        display: inline;
      }
    }
  }

  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transform: translateY(20px);

    h1,
    h2 {
      flex: 1 1 100%;
      text-align: right;
    }
  }

  h1 {
    font-size: 1.8em;
    padding: 0;
    color: var(--text);

    .bigger {
      font-size: 1.5em;
      color: var(--primary);
    }

    img {
      width: 130px;
      height: 20px;
    }
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #2f2e53;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  margin: 0;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    width: 20px;
    font-size: 20px;
    height: 20px;
  }

  .moon {color: #f1c40f;}

  .sun {color: #f39c12;}

  .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
