<mat-toolbar color="primary">
  <div id="menu" class="d-block d-md-none">
    <button mat-icon-button (click)="sidenavService.toggle()" matTooltip="Menu" matTooltipPosition="below">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <h1 class="ml-4">
    <img src="assets/webster.png" alt="Logo Webster">
    <span class="sr-only">Webster</span>
  </h1>
  <div class="d-md-flex d-none w-60 justify-content-around">
      <a
        *ngFor="let link of linkList"
        [routerLink]="link.url"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: link.type !== 'Blog' }"
        class="text-white d-flex align-items-center"
      >
        {{ link.type | translate }}
      </a>
  </div>
</mat-toolbar>
