@use 'libs/ui/src/partials/utils/breakpoint';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background-light) !important;
  justify-content: space-between;

  .active-link {
    color: var(--primary-light50-color)!important;
    font-weight: 700;
  }

  #menu {
    display: flex;
    align-items: center;

    button {
      background-color: var(--background);

      &.expanded-btn {
        background-color: var(--primary);
      }
    }

    span {
      margin-left: 20px;
      display: none;

      @include breakpoint.breakpoint(md) {
        display: inline;
      }
    }
  }

  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transform: translateY(20px);

    h1,
    h2 {
      flex: 1 1 100%;
      text-align: right;
    }
  }

  h1 {
    font-size: 1.8em;
    padding: 0;
    color: var(--text);

    .bigger {
      font-size: 1.5em;
      color: var(--primary);
    }

    img {
      width: 200px;
    }
  }
}
