@use 'libs/ui/src/partials/utils/breakpoint';

:host {
  .wrapper {
    width: 100%;
    margin: 0px 10%;
  }

  .container {
    padding: 0;
    margin: 0 -64px;
    justify-content: center;

    @include breakpoint.breakpoint(md) {
      justify-content: space-around;
      margin: 0;
    }

    @include breakpoint.breakpoint(lg) {
      justify-content: end;
    }
  }

  h2 {
    margin: 0;
    font-size: 3em;
    flex: 0 0 94%;
  }

  h3 {
    flex: 0 0 94%;
  }

  app-card {
    min-width: 260px;
    max-width: 260px;
  }
}
