<div class="container">
  <img src="/assets/i.png" alt="Me" class="face"/>
  <h2 id="title">
    {{ 'devweb' | translate }}
    <span class="typing-element"></span>
  </h2>
  <div id="introduction">
    <h3>A propos</h3>
    <div [innerHtml]="'introduction' | translate"></div>
    <span id="signature">- Joël</span>
    <h3>
      Mes services
    </h3>
    <div class="carac-wrapper">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon="a"></mat-icon>
          <mat-card-title>Angular</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Développeur Angular depuis 5 ans, j'ai acquis une grande expérience au travers de mes différentes missions.
          </p>
          <p>
            J'ai aussi bien travaillé sur Angular 1, 2, 4, jusqu'à 8, mais je continue à faire une veille technologique
            pour être au fait des différentes évolutions du Framework.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon="brush"></mat-icon>
          <mat-card-title>Design</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            L'intégration ainsi que l'UX/UI font partie intégrante de mon travail. Je suis à même à travailler en
            collaboration avec des designers, mais aussi de laisser libre cours à mon imagination afin de rendre l'appli
            sur laquelle je travaille, le plus User friendly possible.
          </p>
          <p>La notion de responsive fait partie intégrante de mes développements.</p>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon="accessible"></mat-icon>
          <mat-card-title>Accessibilité</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            L'accessibilité est pour moi un axe essentiel, il ne s'adresse pas seulement aux personnes en situations de
            handicap mais à tout le monde!
          </p>
          <p>Lors des phases de développements, j'ai à coeur d'être le plus aux normes RGAA.</p>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon="scrum"></mat-icon>
          <mat-card-title>Agilité</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Je m'intègre parfaitement dans une équipe de développeurs, ma bonne humeur et mon humour m'aident dans mon
            quotidien afin d'avoir un réel esprit d'équipe!
          </p>
          <p>Agile dans l'âme, j'aime travailler dans un univers Agile, aussi bien Scrum que SaFe.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
