<div class="space-background d-flex justify-content-center align-items-center">
  <h1 class="text-center">
    <mat-icon aria-hidden="true" svgIcon="webster-full" [class]="isLoading ? 'loading-logo' : ''"></mat-icon>
    <span class="sr-only" lang="en">Webster - think the web different</span>
  </h1>
</div>

<section class="p-5 wave-dark bkg-light">
  <webster-qui-suis-je></webster-qui-suis-je>
</section>

<section class="p-5 wave-light">
  <h2 class="mt-5"><span class="text-stroke">M</span>es services</h2>
  <div class="card-wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-icon aria-hidden="true" svgIcon="a"></mat-icon>
      </mat-card-header>
      <mat-card-content websterAnimate="none">
        <p>
          Développeur Angular depuis 6 ans, j'ai acquis une grande expérience au travers de mes différentes missions.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Intégration</mat-card-title>
        <mat-icon aria-hidden="true" svgIcon="brush"></mat-icon>
      </mat-card-header>
      <mat-card-content websterAnimate="none">
        <p>La notion de responsive fait partie intégrante de mes développements.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Accessibilité</mat-card-title>
        <mat-icon aria-hidden="true" svgIcon="accessible"></mat-icon>
      </mat-card-header>
      <mat-card-content websterAnimate="none">
        <p>
          L'accessibilité est pour moi un axe essentiel, il ne s'adresse pas seulement aux personnes en situations de
          handicap mais à tout le monde!
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Agilité</mat-card-title>
        <mat-icon aria-hidden="true" svgIcon="scrum"></mat-icon>
      </mat-card-header>
      <mat-card-content websterAnimate="none">
        <p>Agile dans l'âme, j'aime travailler dans un univers Agile, aussi bien Scrum que SaFe.</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section class="p-5 pb-6 wave-dark bkg-light">
  <h2 class="mt-5"><span class="text-stroke">I</span>ls m'ont fait confiance</h2>
  <div websterAnimate="right">
    <webster-feedbacks websterAnimate="right" [feedbacks]="feedbacks"></webster-feedbacks>

    <div class="logo-wrapper">
      <mat-icon aria-hidden="true" svgIcon="younup"></mat-icon>
      <mat-icon aria-hidden="true" svgIcon="neo-soft"></mat-icon>
      <mat-icon aria-hidden="true" svgIcon="logistar"></mat-icon>
      <mat-icon aria-hidden="true" svgIcon="cbp"></mat-icon>
    </div>
  </div>
</section>
