@use 'libs/ui/src/partials/utils/breakpoint';

.container {
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
}

h1 mat-icon {
  width: 100%;
  height: 300px;
}

.space-background {
  background-image: url(/assets/svg/wave-white.svg), url(/assets/background.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom,bottom;
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.card-wrapper {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 10rem;

  @include breakpoint.breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  @include breakpoint.breakpoint(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  mat-card {
    padding: 1rem;
    min-height: 210px;
    color: white;
    height: 100%;
    background: #2f2e53;
    border-radius: 1rem;
    flex: 1 1 0;

    &:hover::after {
      transform: rotateZ(
          10deg);
    }

    &::after {
      content: "";
      bottom: 0;
      left: 1px;
      background: #a55afe;
      border-radius: 1rem;
      position: absolute;
      right: 14px;
      height: 105px;
      z-index: -1;
      transform: rotateZ(
          6deg);
      transform-origin: bottom left 0;
      transition: all .25s ease-in-out;
      color: white;
    }

    mat-card-header {
      align-items: center;
      margin-bottom: 1rem;
      justify-content: space-between;

      mat-card-title {
        margin: 0;
      }
    }

    mat-card-content {
      line-height: 1.8;
    }

    mat-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 50%;
      background: var(--background);
      padding: .5rem;
    }
  }
}

.logo-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;

  @include breakpoint.breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  @include breakpoint.breakpoint(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  mat-icon {
    width: 120px;
    height: 120px;
    transition: all .25s ease-in-out;
    margin: 2rem;
    place-self: center;

    &:not(:hover) {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }
}
