main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;

  .vert {
    position: absolute;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    top: -200px;
    left: -300px;
  }

  .jaune {
    position: absolute;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    top: 400px;
    right: -250px;
  }
}
