/* You can add global styles to this file, and also import other style files */
@use 'libs/ui/src/design-system';
@use 'stylesheets/background-images';
@use 'stylesheets/breakpoints';
@use 'stylesheets/colorss';
@use 'stylesheets/headers';
@use 'stylesheets/loading';
@use 'stylesheets/scrollbar';
@use 'stylesheets/theme';
@use 'stylesheets/badge';
@use 'stylesheets/wave';
@import '~highlight.js/styles/a11y-dark.css';


html, body {
  min-height: 100%;
}

body .mat-dialog-container {
  background: white;
  padding: 0;
  width: 87%;
}


body .mat-menu-panel {
  background: var(--background-light);
  color: white;

  .mat-menu-content:not(:empty) {
    padding: 1rem;
  }
}

.bkg-light {
  background-color: var(--background-light);
}
