<h2><span class="text-stroke">T</span>arifs</h2>
<div class="card-wrapper">
  <mat-card id="a">
    <mat-card-header class="justify-content-center">
      <mat-card-title>Développeur Junior</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../../assets/b.png" alt="" aria-hidden="true">
      <p class="huge">400€<small>/jour</small></p>
      <p>Projets React ou Vue</p>
    </mat-card-content>
  </mat-card>
  <mat-card id="b">
    <mat-card-header>
      <mat-card-title>Développeur Sénior</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../../assets/a.png" alt="" aria-hidden="true">
      <p class="huge">420€<small>/jour</small></p>
      <p>Projets Angular / Intégration</p>
    </mat-card-content>
  </mat-card>
  <mat-card  id="c">
    <mat-card-header>
      <mat-card-title>Lead Développeur</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../../assets/c.png" alt="" aria-hidden="true">
      <p class="huge">440€<small>/jour</small></p>
      <p>Projets Angular / Intégration</p>
    </mat-card-content>
  </mat-card>
  <mat-card id="d">
    <mat-card-header>
      <mat-card-title>Audit Accessibilité</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../../assets/rgaa.png" alt="" aria-hidden="true">
      <p class="huge"></p>
      <p>Sur devis</p>
    </mat-card-content>
  </mat-card>
</div>
