@use 'libs/ui/src/partials/utils/breakpoint';

.card-wrapper {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  margin-bottom: 10rem;

  @include breakpoint.breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint.breakpoint(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint.breakpoint(xxl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  mat-card {
    padding: 1rem;
    margin: 1rem;
    width: 350px;
    max-width: calc(100vw - 4rem);
    color: white;
    height: 100%;
    background: #2f2e53;
    border-radius: 1rem;

    &:hover {
      box-shadow: 0 0 11px rgba(255, 255, 255,.4);
    }

    &#a {
      background: linear-gradient(45deg, rgba(73,146,221,1) 0%, #a55afe 80%);
    }

    &#b {
      background: linear-gradient(45deg, #a55afe 0%, #1c6bda 80%);
    }

    &#c {
      background: linear-gradient(45deg, #eaab6a 0%, #a55afe 80%);
    }

    &#d {
      background: linear-gradient(45deg, #a55afe 0%, #5e3c84 80%);
    }

    img {
      max-width: 70%;
      margin: 1rem 15%;
    }

    p {
      text-align: center;

      &.huge {
        font-weight: 500;
        font-size: 60px;
        height: 100px;
        margin: 1rem 0;

        small {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    mat-card-header {
      align-items: center;
      margin-bottom: 1rem;
      justify-content: center;

      mat-card-title {
        margin: 1.5rem 0;
      }
    }

    mat-card-content {
      line-height: 1.8;
    }
  }
}
