<section>
  <article>
    <img src="assets/img/celine.jpg" alt="Céline CHRABIE" class="m-5 rounded-circle w-50 justify-self-center">

    <div class="p-5 m-lg-5">
      <h2><span>Qui suis-je?</span></h2>
      <p class="text-justify">
        Hi there 👋 My name is Céline CHRABIE, I'm the maker of Happy Hues. One of my favorite things to do is launch
        fun, useful and sometimes silly side-projects that I think should exist outside my head :)
      </p>
      <p class="text-justify">
        My goal with Happy Hues was to try to remove the issue where you know you like a color palette, but you're
        unsure about how to apply it to your design or illustration. I built this site to not only give you color
        inspiration, but also give you an example as to how and where you could use the color
      </p>
      <div class="d-flex justify-content-center">
        <webster-calendly
          [inline]="true"
          calendlyUrl="joelchrabie/entretien-meet"
          class="mt-4"></webster-calendly>
      </div>
    </div>
  </article>
</section>
<section class="bg-primary-light-10">
  <article>
    <div class="mx-lg-5 px-5 py-4 py-lg-0 sticky">
      <h2><span>Titre n2</span></h2>
      <p>Vous avez envie de prendre soin de vous, de prendre en charge votre santé et votre bien-être ou de
        (re)devenir acteur de votre santé ?
        <br>
        Alors, il se pourrait bien que vous soyez au bon endroit !
        <br>
        J’espère que cet espace vous apportera de l’aide, de la joie et de petits moments de bonheur</p>
    </div>
    <div class="d-grid gap-5 justify-content-center py-4 py-lg-0">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon svgIcon="naturo"></mat-icon>
          </div>
          <mat-card-title>Naturopathie</mat-card-title>
          <mat-card-subtitle>Soin du corps et de l'esprit</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
             src="https://st.depositphotos.com/1005573/3844/i/600/depositphotos_38443251-stock-photo-naturopathic-medicine.jpg"
             alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            La naturopathie est une médecine non conventionnelle qui intervient idéalement en prévention. </p>
          <p>
            Reconnue par l’OMS comme la troisième médecine traditionnelle après les médecines traditionnelles chinoise
            et ayurvédique, elle permet grâce à des moyens naturels de préserver ou d’optimiser son capital santé, de
            gagner en qualité de vie.
          </p>
        </mat-card-content>
        <mat-card-actions class="p-2">
          <button mat-flat-button color="primary">En savoir plus</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon svgIcon="reflexo"></mat-icon>
          </div>
          <mat-card-title>Reflexologie</mat-card-title>
          <mat-card-subtitle>Soins plantaires</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
             src="https://www.lesjardinsdumassage.com/wp-content/uploads/2016/08/reflexologie-plantaire.jpeg"
             alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            La réflexologie est un massage des pieds d'origine chinoise.
          </p>
          <p>
            Selon une médecine chinoise anscestrale, chaque zone réflexe correspondrait à un organe, une glande ou une
            partie du corps qui se projetterait sur la plantedes pieds.
          </p>
          <p>
            Un toucher spécifique localise les tensions et les débloquent. Incroyablement détendant, cette
            technique active la circulation sanguine au niveau des pieds, effaçant les contraintes de la journée.
          </p>
        </mat-card-content>
        <mat-card-actions class="p-2">
          <button mat-flat-button color="primary">En savoir plus</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon svgIcon="irido"></mat-icon>
          </div>

          <mat-card-title>Iridologie</mat-card-title>
          <mat-card-subtitle>Diagnostique par l'iris</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
             src="https://lh4.googleusercontent.com/gRVnf9GpPun61jn9rMgeyM41HWPWDj67V_AfrrsaAmVKfKwON7sJ6H-oKYOg4vzRS-t1MOmmyTh9eioS_X2_1PGTx1F9jPzyB3x6oIYMl70XoaY_ugi2_TC_y6o4TfVjSuiFlNm5"
             alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            L'iridologie est une technique utilisée par certains médecins, homéopathes ainsi qu'en médecine
            non-conventionnelle et particulièrement par les naturopathes.
          </p>
          <p>
            Son l'objectif est d'étudier la partie colorée
            de l'œil, l'iris, pour apprécier l'état de santé global d'une personne.
          </p>
        </mat-card-content>
        <mat-card-actions class="p-2">
          <button mat-flat-button color="primary">En savoir plus</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </article>
</section>

<ng-template #subtitleLayout>
  <h2>Naturopathe - Reflexologue - Iridologue
    <br>
    <small class="font-italic">
      Sur Nantes, Rennes et en visio
    </small>
  </h2>
</ng-template>

<ng-template #bodyLayout>
  <p>Vous avez envie de prendre soin de vous, de prendre en charge votre santé et votre bien-être ou de
    (re)devenir acteur de votre santé ?</p>
  <p>
    Alors, il se pourrait bien que vous soyez au bon endroit !</p>
  <p>
    J’espère que cet espace vous apportera de l’aide, de la joie et de petits moments de bonheur
  </p>
</ng-template>
