h2 span {
  position: relative;

  &::after {
    content: '';
    background: url('/assets/img/separator.svg') repeat-x;
    background-size: contain;
    position: absolute;
    right: 0;
    height: 20px;
    left: 0;
    bottom: calc(var(--spacer-3) * -1.2);
  }
}
