@use 'libs/ui/src/partials/utils/breakpoint';

.container {
  display: block;
  text-align: justify;
  margin: 0 5%;
  width: 90%;

  @include breakpoint.breakpoint(lg) {
    margin: 0 15%;
    width: 75%;
  }

  a:-webkit-any-link {
    color: var(--primary);
    font-weight: bold;
  }
}
