@import '../../../../../../workspace/jc-angular-project/node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../../../../../workspace/jc-angular-project/src/stylesheets/breakpoints';

.container {
  padding: 0;
  display: block;
  text-align: justify;

  @include breakpoint($breakpoint-large) {
    margin: 0 15%;
  }

  a:-webkit-any-link {
    color: var(--primary);
    font-weight: bold;
  }
}
