<mat-expansion-panel [expanded]="step === 0" #panel>
    <mat-expansion-panel-header (click)="togglePanel()">
        <button mat-mini-fab class="image"
            [style.backgroundImage]="'url(' + experience.logo + ')'">
        </button>
        <h3>
            {{experience.type + '.company' | translate}}
        </h3>
    </mat-expansion-panel-header>
    <mat-panel-description>
        <h4>
            {{experience.type + '.title' | translate}} -
            <small> {{experience.city}}({{experience.postcode}})</small>
        </h4>
        <div>{{experience.type + '.content' | translate}}</div>
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let chip of experience.chips"
                [color]="isSearched(chip) ? 'primary' : 'basic'"
                [selected]="true"
                (click)="selectChips(chip)"
            >
                {{chip}}
            </mat-chip>
        </mat-chip-list>
        <div class="cta">
            <button *ngIf="experience.showMore"
                mat-raised-button
                (click)="showMore(experience.name)"
                color="primary"
                [routerLink]="[experience.url]"
                routerLinkActive="router-link-active">
                {{ 'showMore' | translate}}
            </button>
        </div>
    </mat-panel-description>
</mat-expansion-panel>