<footer class="footer p-5">
  <div class="d-flex align-items-center">
    <mat-icon svgIcon="logo" class="logo"></mat-icon>
    <div>
    </div>
  </div>

  <ul class="list-unstyled list-horizontal">
    <li class="nav__item">
      <h2 class="nav__title">Site</h2>

      <ul class="list-unstyled">
        <li *ngFor="let link of links" class="my-2">
          <a [routerLink]="[link.type]" class="text-dark">{{link.name}}</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="list-unstyled">
        <li>
          <a routerLink="/mention-legales" class="text-dark">Mentions légales</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2>Contact</h2>
      <address>
        Céline CHRABIE <br>
        06 10 83 02 53 <br>
        2 Rue du Berry - 44130 Blain
      </address>
    </li>
  </ul>

  <div class="flex-1">
    <p>
      &copy; 2021 Céline Naturopathie. Tout droits réservés.
    </p>
    <p>Site réalisé par
      <a href="https://webster-dev.fr" class="text-bold text-accent" target="_blank" aria-label="Aller sur le site de webster">
        <mat-icon svgIcon="webster" class="webster"></mat-icon>
        <span class="sr-only">Webster</span>
      </a>
    </p>
  </div>
</footer>
