<mat-toolbar color="basic">
  <mat-toolbar-row>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>Développeur Freelance sur Nantes</h2>
        <p class="mb-3">
          Développeur Web front freelance, je suis à votre disposition pour répondre à tout type de projets de création
          de sites internet, de développement spécifique ou d'applications web.
          <br>
          Passionné par les technologies liées au Web, je mets mes compétences au service de vos besoins dans divers
          domaines.
        </p>
        <button id="footer" mat-flat-button [routerLink]="['/contact']" color="primary" class="center">Contactez moi
        </button>
        <hr/>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-md-3 col-sm-6">
        <mat-list role="list">
          <p mat-subheader>Quick Links</p>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/']">Accueil</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/contact']">Contact</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/tips']">tips</a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-3 col-sm-6">
        <mat-list role="list">
          <p mat-subheader>Derniers Articles</p>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/competences/cbp']">CBP</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/competences/cbp']">DSIA</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a class="text-white" [routerLink]="['/competences/cbp']">Freelance</a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="last-row">
    <div class="row space-between">
      <div id="devices">
        <mat-icon id="device" role="presentation"></mat-icon>
        <span>Vous êtes sur la version </span>
      </div>
      <a class="text-white" [routerLink]="['/mention-legales']">Mentions légales</a>
      <div class="socials">
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
