<mat-toolbar color="basic">
  <mat-toolbar-row>
    <div class="row">
      <div class="col-md-6 col-sm-12">
          <h2>Développeur Freelance sur Nantes</h2>
          <p class="mb-3">
            Développeur Web front freelance, je suis à votre disposition pour répondre à tout type de projets de création de sites internet, de développement spécifique ou d'applications web.
            <br>
            Passionné par les technologies liées au Web, je mets mes compétences au service de vos besoins dans divers domaines.
          </p>
        <button mat-flat-button [routerLink]="['/contact']" color="primary" class="center">Contactez moi</button>
        <hr />
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-md-3 col-sm-6">
        <mat-list role="list">
          <div mat-subheader>Quick Links</div>
          <mat-list-item role="listitem" [routerLink]="['/']">Accueil</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/contact']">Contact</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/tips']">tips</mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-3 col-sm-6">
        <mat-list role="list">
          <div mat-subheader>Derniers Articles</div>
          <mat-list-item role="listitem" [routerLink]="['/competences/cbp']">CBP</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/competences/dsia']">DSIA</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/competences/freelance']">Freelance</mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="last-row">
    <div class="row space-between">
      <div id="devices">
        <mat-icon id="device"></mat-icon>
        <span>Vous êtes sur la version </span>
      </div>
      <a [routerLink]="['/mention-legales']">Mentions légales</a>
      <div class="socials">
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
