@use 'libs/ui/src/design-system';

mat-toolbar {
  background-color: #201f47;

  mat-divider {
    border-color: var(--text);
    margin-left: -1px;
    display: none;

    @include design-system.breakpoint(md) {
      display: block;
    }
  }

  mat-toolbar-row {
    height: auto;
    min-height: 64px;
    font-size: 1rem;
    white-space: pre-line;

    &.last-row {
      background-color: #2f2e53;

      .mat-mini-fab {
        margin: 0 1em;
      }
  }

    a {
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1em;

  &.space-between {
    justify-content: space-between;
  }

  .col-sm-12 {
    flex: 1 1 100%;
  }

  .col-sm-6 {
    flex: 1 1 50%;
  }

  .col-sm-4 {
    flex: 1 1 33.3333%;
  }

  .col-md-6 {
    @include design-system.breakpoint(md) {
      flex: 1 1 50%;
    }
  }

  .col-md-3 {
    @include design-system.breakpoint(md) {
      flex: 1 1 25%;
    }
  }
}

hr {
  border-color: rgba(255, 255, 255, 0.3);

  @include design-system.breakpoint(md) {
    display: none;
  }
}

img {
  height: 20px;
}

#device {
  margin-right: 20px;
  &::after {
    content: 'phone_iphone';
    @include design-system.breakpoint(md) {
      content: 'tablet';
      @include design-system.breakpoint(lg) {
        content: 'desktop_windows';
      }
    }
  }
}
mat-toolbar-row {
  h2 {
    margin: 0 0 1rem!important;
    transform: translate(0,0);
  }
  p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
  }
}

#devices {
  font-size: 0.5em;
  font-weight: initial;
  display: flex;
  align-items: center;

  & span::after {
    content: 'mobile';
    @include design-system.breakpoint(md) {
      content: 'tablette';
      @include design-system.breakpoint(lg) {
        content: 'desktop';
      }
    }
  }
}

.center {
  @include design-system.breakpoint(md) {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
