<nav>
  <a routerLink="/" aria-label="Retour à la page d'accueil">
    <mat-icon svgIcon="logo" class="logo"></mat-icon>
  </a>

  <ul class="d-none d-lg-grid list-unstyled nav-list">
    <li *ngFor="let link of links">
      <a [routerLink]="[link.type]" routerLinkActive="active" class="text-dark">{{link.name}}</a>
    </li>
  </ul>

  <button class="d-block d-lg-none justify-self-end"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let link of links" mat-menu-item routerLinkActive="active">
      <a [routerLink]="[link.type]"  class="text-dark">{{link.name}}</a>
    </button>
  </mat-menu>
</nav>
