<nav role="navigation" title="Navigation rapide">
<ul class="evitement">
  <li>
    <a href="#" (click)="goTo('header', $event)">Aller au contenu</a>
  </li>
  <li>
    <a href="#" (click)="goTo('main', $event)">Aller au menu</a>
  </li>
  <li>
    <a href="#" (click)="goTo('footer', $event)">Aller au pied de page</a>
  </li>
</ul>
</nav>
<div class="wrapper dark-mode">
  <mat-sidenav-container>
    <mat-sidenav
      mode="over"
      [(opened)]="sidenavService.opened"
      (openedChange)="sidenavService.onOpenedChange($event)"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="mat-drawer-content">
      <main #main tabindex="-1">
        <header #header tabindex="-1">
          <app-header></app-header>
        </header>
        <webster-calendly calendlyUrl="websterdev/entretien-meet"></webster-calendly>
        <router-outlet></router-outlet>
      <footer #footer tabindex="-1">
        <app-footer></app-footer>
      </footer>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
