@use 'libs/ui/src/partials/utils/breakpoint';

mat-sidenav {
  min-width: 300px;
}

mat-sidenav-content {
  background: var(--background);
  color: var(--text);
}

main {
  margin: 90px 1em;

  @include breakpoint.breakpoint(lg) {
    margin: 90px 64px 64px;
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: var(--primary) !important;
}

.mat-drawer-content {
  mat-progress-bar {
    position: fixed;
    height: 10px;
    z-index: 2;

    rect {
      fill: var(--background-light);
    }
  }
}
