@use 'libs/ui/src/partials/utils/breakpoint';

mat-sidenav {
  min-width: 300px;
}

mat-sidenav-content {
  background: var(--background);
  color: var(--text);
}

main {
  margin: 56px 0 0;
  min-height: 52vh;

  @include breakpoint.breakpoint(lg) {
    margin: 65px 0 0;
  }
  .loading-logo {
    width: 400px;
    height: 400px;
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #733fb1 !important;
}
