<div class="wrapper">
  <mat-sidenav-container>
    <mat-sidenav
      mode="over"
      [(opened)]="sidenavService.opened"
      (openedChange)="sidenavService.onOpenedChange($event)"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="mat-drawer-content">
      <header>
        <app-header></app-header>
      </header>

      <main>
        <ng-template #loading>
        <div class="w-100 d-flex justify-content-center align-items-center" [style.height]="'52vh'">
          <mat-icon class="loading-logo" svgIcon="webster"></mat-icon>
        </div>
      </ng-template>
        <ng-container *ngIf="!isLoading; else loading">
          <webster-calendly calendlyUrl="websterdev/entretien-meet"></webster-calendly>
          <router-outlet></router-outlet>
        </ng-container>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
