:root {
  --foreground: #201f478a;
  --background: #201f47;
  --background-light: #2f2e53;

  --primary: #a55afe;
  --primary-dark: rgb(97, 169, 160);
  --primary-light: #45c3b8;

  --text: #fff;
  --text-light: #bbb;
}
