:root {
  --foreground: #2f2e538a;
  --background: #fff;
  --background-light: #efefef;

  --primary: #a55afe;
  --primary-dark: rgb(97, 169, 160);
  --primary-light: #45c3b8;

  --text: #201f47;
  --text-light: #2f2e53;
}
