:root {
  --foreground: #3030308a;
  --background: #303030;
  --background-light: #424242;

  --primary: #91d3d2;
  --primary-dark: rgb(97, 169, 160);
  --primary-light: #45c3b8;

  --text: #fff;
  --text-light: #bbb;
}
