@font-face {
  font-family: 'Origami';
  src: url('/assets/fonts/Origami.eot');
  src: url('../../../../../workspace/jc-angular-project/src/assets/fonts/Origami.eot?#iefix') format('embedded-opentype'),
    url('../../../../../workspace/jc-angular-project/src/assets/fonts/Origami.svg#Origami') format('svg'), url('../../../../../workspace/jc-angular-project/src/assets/fonts/Origami.ttf') format('truetype'),
    url('../../../../../workspace/jc-angular-project/src/assets/fonts/Origami.woff') format('woff'), url('../../../../../workspace/jc-angular-project/src/assets/fonts/Origami.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
