@import 'libs/ui/src/partials/utils/breakpoint';

h2 {
  border-bottom: var(--primary) 3px solid;
  display: inline-block;
  margin-left: 50%!important;
  transform: translateX(-50%);
  margin-bottom: var(--spacer-4);
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: .5rem;

  mat-icon {
    margin-right: 1rem;
    width: 15px;
    color: var(--primary);
  }
}
