
.loading-logo {
  [class*="cls-"] {
    stroke-miterlimit: 10;
    stroke: var(--text)!important;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 500;
    animation: stroke 3s linear;
    transition: 1s fill ease-in-out;
  }

  @keyframes stroke {
    0% {
      stroke-dashoffset: 500;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
      fill: var(--text);
    }
  }
}
