@use 'libs/ui/src/design-system';

body {
  @include design-system.theme(
      #a55afe,
    $accent: #0DEEF7,
    $warning: #ebc86e,
    $base-color: #222,
    $is-dark-mode: true
  );

  .mat-card, .mat-drawer {
    background: #2f2e53;
  }
}
