.wave-dark {
  background-image: url(/assets/svg/wave.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}

.wave-light {
  background-image: url(/assets/svg/wave-white.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}
