%wave {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  margin-top: -1px;
}

.wave-dark {
  @extend %wave;
  background-image: url(/assets/svg/wave.svg);
}

.wave-light {
  @extend %wave;
  background-image: url(/assets/svg/wave-dark-light.svg);

  .light-theme & {
    background-image: url(/assets/svg/wave-light.svg);
  }
}

.wave-white {
  @extend %wave;
  background-image: url(/assets/svg/wave.svg);

  .light-theme & {
    background-image: url(/assets/svg/wave-white.svg);
  }
}
