@use 'libs/ui/src/partials/utils/breakpoint';

:host {
  app-breadcrumbs {
    grid-column: 1/-1;
    padding: 2rem 2rem 0;
  }

  h2 {
    transform: none;
    margin: 2rem!important;

    .text-stroke {
      font-size: 4rem;
      line-height: 1;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--primary-light80-color);
      text-stroke: 2px var(--primary-light80-color);
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      margin-bottom: 1.5rem;
    }
  }

  .wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;

    @include breakpoint.breakpoint(md) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }

    @include breakpoint.breakpoint(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }

    app-card {
      place-self: center center;
    }
  }
}
