@use 'libs/ui/src/partials/utils/breakpoint';

:host {
  app-breadcrumbs {
    grid-column: 1/-1;
    padding: 2rem 2rem 0;
  }

  .huge {
    margin: 2rem;
    font-size: 4rem;
    max-width: 100%;
    font-weight: 900;

    @include breakpoint.breakpoint(md) {
      max-width: 80%;
    }

    @include breakpoint.breakpoint(xl) {
      max-width: 50%;
    }
  }

  h2 {
    transform: none;
    margin: 2rem!important;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    app-card {
      place-self: center center;
    }
  }

  .cdk-virtual-scroll-content-wrapper .viewport {
     display: flex;
     flex-direction: row;
   }
}
