<div class="px-mb-6 px-4 my-6 w-100 ">
  <div class="d-flex flex-sm-row mx-4 flex-column justify-content-between align-items-sm-center w-100 w-md-80 w-xl-50">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <webster-filters class="mx-4" [groups]="groups" (selectedChange)="filterGroups($event)"></webster-filters>
  </div>
  <p class="huge" [innerHTML]="title"></p>
  <div *ngFor="let articlesGroup of articlesGroups">
    <h2><span class="text-stroke">{{articlesGroup.group| slice:0:1}}</span>{{articlesGroup.group| slice:1}}</h2>
    <p *ngIf="articlesGroup.description" websterAnimate="right" class="m-4 p-2 w-lg-50 text-justify text-huge" [innerHTML]="articlesGroup.description"></p>
    <div class="wrapper">
      <app-card *ngFor="let article of articlesGroup.articles" [cardData]="article"></app-card>
    </div>
  </div>
</div>
